<<<<<<< HEAD
html{
    position: relative;
    width: 1920px;
    height: 6030px;
    background: #011627;
}

/* ########## GrosTitre ########## */

div.grostitre{
    position: absolute;
    width: 633px;
    height: 160px;
    left: 650px;
    top: 300px;
}

div.grostitre h1{
    font-style: normal;
    margin: 0;
    font-weight: 700;
    font-size: 120px;
    line-height: 160px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FFFFFF;
}

div.grostitre h3{
    font-style: italic;
    margin: 0;
    margin-bottom: 75px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
}

div.grostitre p{
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

/* ########## ########## ########## */



/* ########## Reserve ########## */

div.reserve{
    position: absolute;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
    width: 1000px;
    height: 79px;
    left: 213px;
    top: 1196px;
}

div.reserve h1{
    font-style: normal;
    margin: 0;
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
}

div.reserve p{
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: left;
    color: #FFFFFF;
}

/* ########## ########## ########## */

/* ########## Dune du pilat ########## */

div.dunepilat{
    position: absolute;
    width: 465px;
    height: 75px;
    left: 970px;
    top: 1630px; 
}

div.dunepilat h1{
    font-style: normal;
    margin: 0;
    font-weight: 700;
    font-size: 65px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: right;
    color: #FFFFFF;
}

div.dunepilat p{
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: right;
    color: #FFFFFF;
}

/* ########## ########## ########## */

/* ########## à propos ########## */

div.propos{
    position: absolute;
    width: 290px;
    height: 80px;
    left: 360px;
    top: 2520px; 
}

div.propos h1{
    font-style: normal;
    margin: 0;
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
}

div.propos p{
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: left;
    color: #FFFFFF;
}

/* ########## ########## ########## */

=======
html{
    position: relative;
    width: 1920px;
    height: 6030px;
    background: #011627;
}

/* ########## GrosTitre ########## */

div.grostitre{
    position: absolute;
    width: 633px;
    height: 160px;
    left: 650px;
    top: 300px;
}

div.grostitre h1{
    font-style: normal;
    margin: 0;
    font-weight: 700;
    font-size: 120px;
    line-height: 160px;
    letter-spacing: -0.02em;
    text-align: center;
    color: #FFFFFF;
}

div.grostitre h3{
    font-style: italic;
    margin: 0;
    margin-bottom: 75px;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
    letter-spacing: 0.1em;
    text-align: center;
    color: #FFFFFF;
}

div.grostitre p{
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: center;
    color: #FFFFFF;
}

/* ########## ########## ########## */



/* ########## Reserve ########## */

div.reserve{
    position: absolute;
    display: grid;
    grid-template-columns: 60% 40%;
    gap: 30px;
    width: 1000px;
    height: 79px;
    left: 213px;
    top: 1196px;
}

div.reserve h1{
    font-style: normal;
    margin: 0;
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
}

div.reserve p{
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: left;
    color: #FFFFFF;
}

/* ########## ########## ########## */

/* ########## Dune du pilat ########## */

div.dunepilat{
    position: absolute;
    width: 465px;
    height: 75px;
    left: 970px;
    top: 1630px; 
}

div.dunepilat h1{
    font-style: normal;
    margin: 0;
    font-weight: 700;
    font-size: 65px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: right;
    color: #FFFFFF;
}

div.dunepilat p{
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: right;
    color: #FFFFFF;
}

/* ########## ########## ########## */

/* ########## à propos ########## */

div.propos{
    position: absolute;
    width: 290px;
    height: 80px;
    left: 360px;
    top: 2520px; 
}

div.propos h1{
    font-style: normal;
    margin: 0;
    font-weight: 700;
    font-size: 72px;
    line-height: 110%;
    letter-spacing: -0.02em;
    text-align: left;
    color: #FFFFFF;
}

div.propos p{
    font-style: normal;
    margin: 0;
    font-weight: 400;
    font-size: 17px;
    line-height: 150%;
    text-align: left;
    color: #FFFFFF;
}

/* ########## ########## ########## */

>>>>>>> 47c78300d7b0b75782acd2e3a274134947b213e8
