:root {
    --col_base: #A14CC5;
    --col_base_foncee: #8f43af;
    --col_base_tres_foncee: #7a3896;
}

html, body {
    height: calc(100% - 25px);
    margin: 0;
}

.wrapper {
    min-height: 100%;
} 

footer {
    height: 50px;
}

footer p {
    margin: 0;
    padding-top: 15px;
}

nav a:hover {
    font-size: 1.21rem;
    font-weight: 500;
}

#logo_adrar {
    width: 100px;
    height: 80px;
}

.svgs-full {
    width: 300px;
    height: 250px;
}

.svgs-sm {
    width: 200px;
    height: 100px;
}

@keyframes fadein {
    from {
        left: 100%;
    }
    to {
        left: 74%;
    }
}

@keyframes fadeout {
    from {
        left: 74%;
    }
    to {
        left: 100%;
    }
}

button.btn:active, a.btn:focus {
    background-color: var(--col_base_tres_foncee);
}

.wave-effect {
    position: relative;
    cursor: pointer;
    display: inline-block;
    overflow: hidden;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: var(--col_base);
    vertical-align: middle;
    z-index: 1;
    -webkit-transition: .3s ease-out;
    transition: .3s
}

.help-floating-btn {
    position: fixed;
    top: 88%;
    left: 94%;
    border-radius: 15px;
    font-size: 22px;
}

.help-floating-btn i {
    padding-top: 10%;
}

.btn-floating {
    width: 56px;
    height: 56px;
    padding: 0;
}

.fade-in {
    animation: 0.3s ease-in 0s forwards running fadein;
}
.fade-out {
    animation: 0.3s ease-out 0s forwards running fadeout;
}

.help-resource {
    position: fixed;
    padding: 10px;
    bottom: 13%;
    left: 100%;
    width: 23vw;
    z-index: 100;
    border: 1px solid lightslategrey;
    border-radius: 15px;
    min-height: 10vh;
}

.circle {
    display: block;
    width: 15px;
    height: 15px;
    background-color: #f3f3f3;
    border-radius: 25px;
    margin-left: auto;
    margin-right: auto;
}

.completed {
    background-color: #198754;
}

.awaiting {
    background-color: #f7c41bd4;
}

.missing {
    background-color: #dc3545;
}

tr td {
    vertical-align: middle;
}

i[class] {
    color: #FFFFFF;
}

.dropdown-item.active, .dropdown-item:active {
    background-color: var(--col_base);
}

.hrs {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.img-center {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.modules {  
    border: 1px solid #d3d3d3;
    border-radius: 20px;
    padding: 20px;
}