<<<<<<< HEAD
p:last-child {
   font-size: 12px;
   color: rgb(255, 0, 0);
=======
p:last-child {
   font-size: 12px;
   color: rgb(255, 0, 0);
>>>>>>> 47c78300d7b0b75782acd2e3a274134947b213e8
}