@media (orientation:portrait){
          body{
             background-color:red;
           }
}
@media (orientation:landscape){
         body{
           background-color:blue;
          }

}

@media only screen and ( min-width:320px){
                
              p{font-size:18px;
                color:yellow;
               }
}

@media only screen and ( min-width:768px){
              p{ font-size:22px;
                 color:orange;
               }
}

@media only screen and ( min-width:1440px){
             p{ font-size:30px;
                color:green;
              }
}

       