<<<<<<< HEAD
@media screen and (orientation: portrait) {
    *{
        background-color: red;
     }
}
@media screen and (orientation: labdscaoe) {
    *{
        background-color: blue;
     }
}
@media screen , (min-height: 320px){
    *{
        font-size: 18px;
        color: yellow;
     }
}
@media screen , (min-height: 768px){
    *{
      font-size: 22px;
      color: orange; 
     }
}
@media screen , (min-height: 1440px){
    *{
      font-size: 30px;
      color: green; 
     }
=======
@media screen and (orientation: portrait) {
    *{
        background-color: red;
     }
}
@media screen and (orientation: labdscaoe) {
    *{
        background-color: blue;
     }
}
@media screen , (min-height: 320px){
    *{
        font-size: 18px;
        color: yellow;
     }
}
@media screen , (min-height: 768px){
    *{
      font-size: 22px;
      color: orange; 
     }
}
@media screen , (min-height: 1440px){
    *{
      font-size: 30px;
      color: green; 
     }
>>>>>>> 47c78300d7b0b75782acd2e3a274134947b213e8
}